<div class="content">
  <h1>About BibTeX OSS v0.3.3</h1>

  <p>
    BibTeX is great to work with but can be annoying to collect and structure,
    especially if you reference different types of media. BibTeX one-stop shop
    aims to make this a little easier by providing a simple interface to quickly
    look up DOIs, ISBNs and URLs to generate clean BibTeX references.
  </p>

  <mat-divider></mat-divider>

  <h2>How does it work?</h2>

  <p>
    DOIs are looked up at <a href="https://doi.org">doi.org</a>, ISBNs are
    looked up at <a href="https://openlibrary.org">openlibrary.org</a> and URLs
    will be scraped for their meta infos (JSON-LD, Open Graph, meta tags, ...).
  </p>
  <p>
    Any output will be put through
    <a href="https://github.com/FlamingTempura/bibtex-tidy">BibTeX-Tidy</a> to
    create a nice, uniform output you can easily copy to your clipboard for
    later usage.
  </p>

  <mat-divider></mat-divider>

  <h2>Contact</h2>

  <p>
    For bug reports, feature requests or any other thoughts, contact me at
    <a href="mailto:dev@marvinscham.de">dev&#64;marvinscham.de</a>.
  </p>

  <mat-divider></mat-divider>

  <h2>Contribute</h2>

  <p>
    This project is open source and open for contributions, hosted on
    <a href="https://github.com/marvinscham/bibtex-oss">GitHub</a>.
  </p>

  <mat-divider></mat-divider>

  <h2>Donate</h2>
  <p>
    Thank you for your support!
    <br />
    <a href="https://ko-fi.com/marvinscham"
      ><img
        ngSrc="../../assets/images/kofi-button.png"
        width="200"
        height="31"
        alt="Ko-fi"
    /></a>
  </p>

  <mat-divider></mat-divider>

  <h2>Credits</h2>

  <p>
    This project is inspired by <a href="https://www.doi2bib.org/">doi2bib</a>.
  </p>
</div>
