<div class="content">
  <h2>Terms of Use</h2>

  <p>Welcome to BibTeX OSS!</p>

  <p>
    These terms and conditions outline the rules and regulations for the use of
    BibTeX OSS's Website, located at https://bibtex.ms-ds.org.
  </p>

  <p>
    By accessing this website we assume you accept these terms and conditions.
    Do not continue to use BibTeX OSS if you do not agree to take all of the
    terms and conditions stated on this page. These terms may be modified at any
    point.
  </p>

  <p>Last Update: Mar 12, 2024</p>

  <mat-divider></mat-divider>

  <h3>Disclaimers</h3>

  <p>
    This site is provided "as-is" and does not come with any guarantee regarding
    functionability, availability, correctness or otherwise. The content of this
    website may change from time to time.
  </p>

  <mat-divider></mat-divider>

  <h3>Limitations</h3>
  <p>
    You may not use the "official" public instance of this service, located at
    https://bibtex.ms-ds.org for bulk-processing, crawling or any similar
    high-volume/high-traffic activities. This aims to keep the service available
    to everyone. Please
    <a href="https://github.com/marvinscham/bibtex-oss/fork"
      >fork the repository</a
    >
    instead and perform these operations on your private instance.
  </p>

  <mat-divider></mat-divider>

  <h3>License</h3>

  <p>
    This project is licensed under the
    <a href="https://github.com/marvinscham/bibtex-oss/blob/main/LICENSE"
      >GNU General Public License v3.0</a
    >.
  </p>
</div>
