<mat-toolbar>
  <a routerLink="/" mat-button id="home-button"
    ><img src="/favicon.ico" alt="" height="32" width="32" /><span
      >BibTeX OSS</span
    ></a
  >
  <span class="spacer"></span>
  <div class="menu-right">
    <a
      href="https://github.com/marvinscham/bibtex-oss"
      mat-raised-button
      target="_blank"
      color="primary"
    >
      <img
        id="github"
        ngSrc="../../assets/images/github.svg"
        alt="g"
        height="20"
        width="20"
      />
      GitHub
    </a>
    <a
      href="https://github.com/marvinscham/bibtex-oss/issues/new"
      rel="noopener"
      mat-raised-button
      color="primary"
      ><mat-icon>bug_report</mat-icon>Report bug</a
    >
  </div>
</mat-toolbar>
