<mat-toolbar>
  <a mat-button routerLink="/tidy"><mat-icon>auto_fix_high</mat-icon>Tidy</a>
  <mat-divider vertical></mat-divider>
  <a mat-button routerLink="/about"><mat-icon>lightbulb</mat-icon>About</a>
  <mat-divider vertical></mat-divider>
  <a mat-button routerLink="/stats"><mat-icon>bar_chart</mat-icon>Stats</a>
  <mat-divider vertical></mat-divider>
  <a mat-button routerLink="/terms"><mat-icon>shield</mat-icon>Terms</a>
  <mat-divider vertical></mat-divider>
  <a mat-button routerLink="/privacy"
    ><mat-icon>admin_panel_settings</mat-icon>Privacy</a
  >
</mat-toolbar>
